
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="col-md-8">
   <a href="@Url.Action("CreateUsers", "Admin")"><input type="button" class="btn-success" value="Add User"/></a> 
</div>